.rich-btn
{
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #3CB043;
    letter-spacing: 1.5px;
    font-weight: 600; 
}
 .rich-btn:hover
{
    /* border: 1px solid blue; */
    color: #ffffff;
    background-color: #3A5311; 
}
@media only screen and (max-width: 767px) 
{
    .rich-btn
    {
        min-width: 140px;
        width: 140px;
        padding: 0 15px; 
    } 
}
